dist/*
build/*
Entertainment_Animation/*
music/*
app.bin.spec
app.exe.spec
build.cmd
buildlinux.cmd
install.cmd
install.sh
sclogo.ico
Entertainment_Animation.7z
Entertainment_Animation.zip
Entertainment_Animation.tar
Entertainment_Animation.7z.tmp
Entertainment_Animation.zip.tmp
Entertainment_Animation.tar.tmp
copy.cmd
compress.cmd